<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/tiendas/jirafa.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">La Jirafa</p>
            <div>
              <small class="designation text-muted">Administrador</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="menu-icon mdi mdi-chart-bar"></i>
        <span class="menu-title">INICIO</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <i class="menu-icon mdi mdi-checkbox-marked-circle-outline"></i>
        <span class="menu-title">Enviar Puntos</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <i class="menu-icon mdi  mdi-message-text-outline"></i>
        <span class="menu-title">Enviar Notificaciones</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="menu-icon mdi mdi-account-multiple-outline"></i>
        <span class="menu-title">Administrar Clientes</span>
      </a>
    </li>
    
  </ul>
</nav>
